<!-- <p>changepassword works!</p> -->
<br>
<br>

<div class="container">

    <div class="card col-md-5 m-auto" style="border-radius: 1rem;">

        <div class="card-body p-4 p-lg-4 text-black">


            <form (submit)="onChangePassword()">

                <div class="d-flex align-items-center mb-1 pb-2">
                    <h4 class="fw-bold">Kitchen Story</h4>
                </div>

                <h6 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Change Your Password</h6>


                <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="currentPassword" [(ngModel)]="currentPassword"
                        name="currentPassword" placeholder="Current Password">
                    <label for="currentPassword">Current Password: </label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword"
                        name="newPassword" placeholder="New Password">
                    <label for="newPassword">New Password:</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                        name="confirmNewPassword" placeholder="Confirm Password">
                    <label for="newPassword">New Password:</label>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <!-- <button class="btn btn-dark btn-block" type="submit">Login</button> -->
                    <button type="submit" class="btn btn-dark">Change Password</button>

                </div>

            </form>

        </div>
    </div>
</div>