<!-- <p>footer works!</p> -->
<br>
<section class="footer">
    <!-- Footer -->
    <footer class="bg-danger">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row text-light">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ps-5">
                    <h5 class="text-uppercase">Kitchen Story</h5>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis aliquam voluptatem veniam, est atque
                        cumque eum delectus sint!
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <!-- <h5 class="text-uppercase">Links</h5> -->

                    <ul class="list-unstyled">
                        <li>
                            <i class="fab fa-google mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                        <li>
                            <i class="fab fa-facebook mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                        <li>
                            <i class="fab fa-instagram mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <!-- <h5 class="text-uppercase mb-0">Links</h5> -->

                    <ul class="list-unstyled">
                        <li>
                            <i class="fab fa-google-plus-g mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                        <li>
                            <i class="fab fa-twitter mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                        <li>
                            <i class="fab fa-linkedin-square mb-3" style="font-size: 25px;"></i>
                            <a href="#!" class="text-white"></a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © Copyright:
            <a class="">KitchenStory</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>