<!-- <p>view-all-users works!</p> -->
<br>
<div class="">
    <div class="col-md-10 m-auto">
        <div class="card">
            <div class="text-center text-light pt-3 pb-2" style="background-color: rgb(6, 83, 97);">
                <h5>All Registered Users Details</h5>
            </div>

            <div class="card-body">
                <table class="table table-bordered table-stripped text-center table-sm">
                    <thead class="table-secondary">
                        <tr>
                            <th>User Id</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Operations</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="btn btn-primary rounded-pill" [routerLink]="['/view', user.id]"
                                    style="--bs-btn-padding-y: .12rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .80rem;">View</button>
                                &nbsp;
                                <input type="button" value="Delete" class="btn btn-danger rounded-pill"
                                    style="--bs-btn-padding-y: .12rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .80rem;"
                                    (click)="deleteUser(user)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>