<!-- <p>adminhome works!</p> -->

<div class="container p-5">
    <div class="card-body text-white">
        <h2 class="fw-bolder pb-3">Welcome Admin!</h2>
        <br>
        <p class="fs-5 pb-5">The administrative portal offers a centralized dashboard for Food E-commerce
            management. Here, administrators can oversee inventory, add, edit, delete and manage all the
            sales data. With intuitive tools and real-time analytics, this portal ensures seamless operations,
            optimizing both customer satisfaction and business efficiency.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded-5" style="background-color: rgb(243, 121, 28);">
                <div class="card-body text-white p-3">
                    <h5 class="card-title">View All Users</h5>
                    <hr>
                    <p class="card-text">View all the registered user here. To view click od the button</p>
                    <a routerLink="/viewalluser" class="btn btn-light">View All User</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card rounded-5" style="background-color: rgb(5, 79, 122);">
                <div class="card-body text-white">
                    <h5 class="card-title">View All Food Items</h5>
                    <hr>
                    <p class="card-text">View all the food items here. To view click on the button</p>
                    <a routerLink="/viewallfooditems" class="btn btn-light">View Food Items</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card rounded-5" style="background-color: rgb(91, 47, 116);">
                <div class="card-body text-white">
                    <h5 class="card-title">Add New Food Item</h5>
                    <hr>
                    <p class="card-text">Add new food item here. To add new item click on the button</p>
                    <a routerLink="/viewallfooditems" class="btn btn-light">Add Food Item</a>
                </div>
            </div>
        </div>
    </div>
</div>