<div class="container">
  <!-- Top Nav -->
  <div>
    <nav class="navbar navbar-expand-lg text-light navbar-dark" style=" background-color:crimson;">
      <div class="container-fluid">
        <div class="left">
          <i class='fas fa-hamburger' style='font-size:30px'></i>
          <a class="navbar-brand left fw-bold" routerLink="/">KitchenStory</a>
        </div>

        <div class="cart-icon cart right">
          <a routerLink="/cart" class="nav-link active"><i
              class="fa fa-shopping-cart">&nbsp;<strong>Cart</strong></i></a>
          <span class="badge badge-pill badge-warning" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
        </div>
      </div>
    </nav>
  </div>

  <!-- ============================================================================================= -->
  <!-- side nav -->
  <!-- user dashboard -->
  <div class="container-fluid" style="width: 100%;">
    <div class="row">
      <div class="col-md-2 p-2 overflow-auto" *ngIf="authService.getRole() === 'user'">
        <div class="col-md-10 sidenav">
          <div class="list-group list-group-flush list-group-no-border list-group-sm fs-6">
            <div class="card pt-3 text-center" *ngIf="authService.isAuthenticated()">
              <i class="fa fa-user-circle pb-3" style='font-size:70px;'></i>
              <p> {{ userName }}</p>
            </div>
            <a routerLink="/" class="list-group-item list-group-item-action">Home</a>
            <a routerLink="/dashboard" *ngIf="authService.isAuthenticated()"
              class="list-group-item list-group-item-action">Dashboard</a>
            <a routerLink="/login" class="list-group-item list-group-item-action"
              *ngIf="!authService.isAuthenticated()">Login</a>
            <a routerLink="/register" class="list-group-item list-group-item-action"
              *ngIf="!authService.isAuthenticated()">Register</a>
            <a routerLink="/changepass" class="list-group-item list-group-item-action">Change Password</a>
            <a routerLink="/dashboard" class="list-group-item list-group-item-action">Orders</a>
            <a routerLink="/menu" class="list-group-item list-group-item-action">All Items</a>
            <a routerLink="/dashboard" *ngIf="authService.isAuthenticated()"
              class="list-group-item list-group-item-action">Addresses</a>
            <a routerLink="/menu" class="list-group-item list-group-item-action">Menu</a>
            <a routerLink="/dashboard" class="list-group-item list-group-item-action">Setting</a>
            <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()"
              class="list-group-item list-group-item-action">Logout</a>
          </div>
        </div>
      </div>

      <!-- ============================================================================================== -->
      <!-- Admin Dashboard -->
      <div class=" col-md-2" style="height: 100vh;" *ngIf="authService.getRole() === 'admin'">
        <div class="col-md-10 sidenav">
          <div class="list-group list-group-flush list-group-no-border list-group-sm fs-6">
            <div class="card pt-3 text-center" *ngIf="authService.isAuthenticated()">
              <i class="fa fa-user-circle pb-3" style='font-size:70px;'></i>
              <p> {{ userName }}</p>
            </div>
            <a routerLink="/" class="list-group-item list-group-item-action">Home</a>
            <a routerLink="/admin" class="list-group-item list-group-item-action">Dashboard</a>
            <a routerLink="/viewalluser" class="list-group-item list-group-item-action">ViewAllUsers</a>
            <a routerLink="/viewallfooditems" class="list-group-item list-group-item-action">ViewAllFoodItems</a>
            <a routerLink="/addfood" class="list-group-item list-group-item-action">AddFoodItem</a>
            <a routerLink="/changepass" class="list-group-item list-group-item-action">Change Password</a>
            <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()"
              class="list-group-item list-group-item-action">Logout</a>
          </div>
        </div>
      </div>


      <!-- ============================================================================================== -->
      <div class="outlet col-md-10">
        <div class="col-md-12 mb-2" style="background: rgba(0, 0, 0, 0.7);">
          <router-outlet></router-outlet>
          <br>
          <br>
          <br>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>

</div>