<!-- <p>dashboard works!</p> -->

<div class="container p-4">
    <div class="row">
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: darkred;">
                <p class="fs-5 pt-2">
                    <a class="link-light link-underline-opacity-0" (click)="toggleOrdersDisplay()">
                        {{ showOrders ? 'Hide Orders' : 'View Orders' }} >
                    </a>
                </p>
            </div>
        </div>


        <div class="col-md-6 p-3">
            <div class="card" *ngIf="showOrders">
                <h4 class="p-2 text-center">Your Orders</h4>

                <div *ngFor="let order of orders|paginate:{itemsPerPage:2,currentPage:p}; let i = index "
                    class="mb-4 ps-3 pe-3">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <small class="text-muted">Date: {{ order.date | date:'medium' }}</small>
                        </div>
                        <div class="card-body">
                            <h6 class="">Ordered Items:</h6>
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.items; let idx = index">
                                        <td>{{ idx + 1 }}</td>
                                        <td>{{ item.foodItemName }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Total Amount:</strong> {{ order.totalAmount }}
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event" class="my-3 pagination page-item"></pagination-controls>
            </div>
        </div>
    </div>
</div>


<div class="container p-4">
    <div class="row">
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: darkgreen;">
                <p class="fs-5 pt-2">
                    <a class="link-light link-underline-opacity-0" (click)="toggleOrdersDisplay()">
                        Coupons/Rewards >
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container p-4">
    <div class="row">
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: darkblue;">
                <p class="fs-5 pt-2">
                    <a class="link-light link-underline-opacity-0" (click)="toggleOrdersDisplay()">
                        Notifications >
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container p-4">
    <div class="row">
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: rgb(65, 3, 112);">
                <p class="fs-5 pt-2">
                    <a class="link-light link-underline-opacity-0" (click)="toggleOrdersDisplay()">
                        Cards & Wallet >
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>