<div class="p-3">
    <h3 class="text-white text-center">Welcome Home to Tasteful Delights! </h3>
    <br>
    <div class="">
        <div class="row m-auto " style="justify-content: center;">
            <div class="col-md-4">
                <div class="card" id="card1">
                    <div class=" text-white">
                        <p class="card-text">Fresh Flavors Delivered! </p>
                        <p class="card-text">Dive into a world of culinary delights right at your doorstep. Order
                            now
                            for a taste adventure.</p>
                        <a routerLink="/menu" class="btn btn-light">Go To Menu</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" id="card2">
                    <div class=" text-white">
                        <p class="card-text">Craving Comfort?</p>
                        <p class="card-text"> From local favorites to gourmet dishes, we bring the world's kitchen
                            to
                            your home. Satisfy your appetite today.</p>
                        <a routerLink="/menu" class="btn btn-light">Go To Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="col-md-11 text-white m-auto">
            <div class="">
                <p class="fs-5">Satisfy Your Culinary Desires with a Click! <br>
                    Dive into our vast selection of
                    mouth-watering dishes,
                    sourced from the best local restaurants and gourmet kitchens. Whether you're craving home-cooked
                    comfort or an exotic flavor adventure, we've got you covered. Experience hassle-free ordering,
                    timely delivery, and food that warms your soul. Join our foodie community today and relish the world
                    on a plate. Your next delicious meal is just a few taps away.</p>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>