<!-- <p>register works!</p> -->
<br>


<div class="container">

    <div class="card col-md-5 m-auto" style="border-radius: 1rem;">

        <div class="card-body p-4 p-lg-4 text-black">

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="d-flex align-items-center mb-1">
                    <h4 class="fw-bold">Welcome to Kitchen Story</h4>
                </div>

                <h6 class="fw-normal mb-4" style="letter-spacing: 1px;">Create your account to here
                </h6>

                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                <div class="form-outline mb-4">
                    <input type="text" id="username" formControlName="username" class="form-control">
                    <label for="email">Full Name</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="email" id="email" formControlName="email" class="form-control">
                    <label for="email">Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="password" formControlName="password" class="form-control">
                    <label for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                </div>

                <div *ngIf="registerForm.errors?.['mismatch']" class="alert alert-danger">
                    Passwords don't match!
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-dark btn-block" type="submit">Register</button>
                </div>
            </form>

        </div>

    </div>

</div>